.contenedor{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.nav-items{
	background-color: rgb(208, 228, 223);
	display: flex;
	margin-left: auto;
	border-radius: 20px;
    left: 5200px;
}
.carousel{
    top: 100px;
    margin-bottom: 90px;
    margin: auto;
    align-items: center;
    justify-content: center;
    height:600px;
    width:800px;
    display: flex;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
}
.mapa{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.color{
    color: aqua ;
}
h1{
    text-align: center;
}
/* Path: public\css\administrador.css */
/* Compare this snippet from public\css\app.css: */