.carousel{
	display: block;
	justify-content: center;
	align-items: center;
	margin: auto;
	top: 100px;
	height: 602px;
	width: 850px;
}

.carus-item{
	border-radius: 10px;
	display: flex;
	border: 1px solid #000;
}
.bicis{
	border-radius: 10px 10px 10px 10px;
}