.carousel{
	display: block;
	justify-content: center;
	align-items: center;
	margin: auto;
	top: 120px;
	height: 601px;
	width: 849px;
}

.carus-item{
	border-radius: 10px;
	display: flex;
	border: solid 1px #000;
	box-shadow: black 0px 0px 20px;
}
.bicis{
	border-radius: 10px 10px 10px 10px;
}